@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-gray-900;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  }
}

[data-sonner-toaster] {
  top: 5rem !important;
  right: 1rem !important;
  left: auto !important;
}

